{% extends 'base_reader.html' %}
{% load my_tags %}
{% block css %}
<style>
    .detail .row{
        color: white;
        background:url('/static/dist/img/book6.jpg') repeat;
        margin-bottom: 8px;
        min-height:600px;
    }
    ul.edit li{
        margin-top:24px;
        float:right;
        display:block;
    }
    .container{padding:0px;}
    label,caption{
        color:hsla(240, 80%, 90%, 0.9);
        width:100px;
        font-size:16px;
    }
    label+span{
        font-size:20px;
        color:hsl(0, 100%, 90%);
    }
    label+p{
        padding:5px;
        height:240px;
        max-width:960px;
        overflow-y:auto;
        text-indent:2em;
        color:hsla(240, 80%, 90%, 0.9);
    }
</style>
{% endblock %}
{% block content %}
<div class="container detail">
<div class="row">
<div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
    <div>
        <label>姓名:</label>
        <span style="font-size: 42px;">{{ obj.name }}</span>
    </div>
    <div>
        <label>借阅证号:</label>
        <span>{{ obj.certificate }}</span>
    </div>
    <div>
        <label>可借书籍数:</label>
        <span>{{ obj.availableBooks }}</span>
    </div>
    <div>
        <label>已借书籍数:</label>
        <span>{{ obj.borrowedBooks }}</span>
    </div>
    {% if logs %}
    <div style="margin-top:20px;color:hsl(0, 100%, 90%);">
        <table class="table" border="5">
            {% for log in logs %}
            {% if forloop.first %}
                <caption>借阅信息</caption>
                <tr style="color:hsla(240, 80%, 90%, 0.9);">
                    <th>序号</th>
                    <th>书籍</th>
                    <th>借出日期</th>
                    <th>应还日期</th>
                </tr>
            {% endif %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ log.book.title }}</td>
                    <td>{{ log.borrowDate|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ log.returnedDate|date:'Y-m-d' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}