{% extends 'base.html' %}
{% block book_list %}
<form action="/ul/menu/reader/edit/?id={{ obj.id }}" method="post">
    <div class="form-group" style="display:none">
        <input class="form-control" id="id" name="id"  value="{{ obj.id }}">
    </div>
    <div class="form-group">
        <p>读者证号：</p>
        <input class="form-control" id="certificate" name="certificate" value="{{ obj.certificate }}">
        {{ obj.error.certificate.0 }}
    </div>
    <div class="form-group">
        <p>姓名：</p>
        <input type="text" class="form-control" id="name" name="name" value="{{ obj.name }}">
        {{ obj.error.name.0 }}
    </div>
    <div class="form-group">
        <p>密码：</p>
        <input type="text" class="form-control" id="password" name="password" value="{{ obj.password }}">
        {{ obj.error.password.0 }}
    </div>
    <div class="form-group">
        <p>可借书籍数：</p>
        <input type="text" class="form-control" id="availableBooks" name="availableBooks" value="{{ obj.availableBooks }}">
        {{ obj.error.availableBooks.0 }}
    </div>
    <div class="form-group">
        <p>已借书籍数：</p>
        <input type="text" class="form-control" id="borrowedBooks" name="borrowedBooks" value="{{ obj.borrowedBooks }}">
        {{ obj.error.borrowedBooks.0 }}
    </div>
    <input type="submit" value="修改">
    <button type="button" id="canel" onclick="window.location.href='/reader/'">取消</button>
</form>
{% endblock %}